aiofiles>=0.7.0
bcrypt>=3.2
fastapi>=0.68
fhir.resources>=6
fhirpy>=1
fire>=0.3
google-auth>=1
google>=3
numpy>=1.21
orjson>=3.4
passlib>=1.7
python-dotenv>=0.19
python-jose>=3.3
python-multipart>=0.0.5
requests>=2
simplejson>=3
termcolor>=1
uvicorn>=0.14